{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/2.1.3_jquery.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <script type="text/javascript">$(function() { $("#onbutton").click(function (event) { $.getJSON('/turnon', { },
        function(data) { }); return false; }); });
    </script>
    <button class="button button1" id="onbutton">Turn on</button>
    <iframe class="home-message" src="https://www.metacafebliss.com" title="Iframe Example"></iframe>
    <script type="text/javascript"> $(function() { $("#offbutton").click(function (event) { $.getJSON('/turnoff', { },
        function(data) { }); return false; }); });
    </script>
    <button class="button button2" id="offbutton">Turn off</button>
    <script type=text/javascript> $(function() { $("#timerButton").click(function (event) { $.getJSON('/timer', { },
        function(data) { }); return false; }); });
    </script>
    <button class="button button4" id="timerButton">Timer ON/OFF</button>
    <script type=text/javascript> $(function() { $("#alarmButton").click(function (event) { $.getJSON('/alarm', { },
        function(data) { }); return false; }); });
    </script>
    <button class="button button5" id="alarmButton">Alarm <br>ON/OFF</button>
    <button class="button button6" onclick="location.href='{{ url_for('wifi') }}';">WiFi</button>
    <button class="button button7" onclick="location.href='{{ url_for('timer_settings') }}';">Timer Settings</button>
    <button class="button button8" onclick="location.href='{{ url_for('alarm_settings') }}';">Alarm Settings</button>
    <button class="button button9" onclick="location.href='{{ url_for('alarm_settings') }}';">Advanced Settings</button>
</div>
{% endblock %}