<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alarm settings</title>
    <style>
    .who {
    padding-bottom: 20px;
    }
        .buttonrt {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 42px;

        cursor: pointer;
        width:922px;  /* Screen resolution: 1024px */
        height:80px; /* Screen resolution: 600px */
    }
    .button1 {background-color: #008CBA;} /* Blue */

    </style>
    <link rel="stylesheet" href="/static/css/alarm_clock.css">
</head>
<body>
   <div class="wrapper">
       <h2 class="who" id="displayDateTime"></h2>
       <script type="text/javascript">
          var date = new Date();
          var hours = date.getHours();
          var minutes = date.getMinutes();
          var ampm = hours >= 12 ? 'pm' : 'am';
          hours = hours % 12;
          hours = hours ? hours : 12; // the hour '0' should be '12'
          minutes = minutes < 10 ? '0'+minutes : minutes;
          var strTime = hours + ':' + minutes + ' ' + ampm;

          document.getElementById("displayDateTime").innerHTML = 'Current Time: ' + strTime;
       </script>
      <div class="content">
        <div class="column">
          <select>
            <option value="Hour" selected disabled hidden>Hour</option>
          </select>
        </div>
        <div class="column">
          <select>
            <option value="Minute" selected disabled hidden>Minute</option>
          </select>
        </div>
        <div class="column">
          <select>
            <option value="AM/PM" selected disabled hidden>AM/PM</option>
          </select>
        </div>
      </div>
       <button>Set Alarm</button>
    </div>

<script src="{{ url_for('static', filename='js/alarm_clock.js') }}"></script>


</body>
</html>